<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="text-center">
    <paper-button raised onclick="swal( 'In Transit', 'Your order is on its way', 'info' ); responsiveVoice.speak('Your order is in transit and will be delivered within three business days', 'UK English Female');" >🔊 Soundcheck English</paper-button>
    <paper-button raised onclick="swal( 'Zugestellt', 'Ihre Bestellung wurde an den vereinbarten Ablageort befördert.', 'success' ); responsiveVoice.speak('Ihre Lieferung wurde zugestellt', 'Deutsch Female');" >🔊 Soundcheck Deutsch</paper-button>
    </div>
  </ion-content>
</ion-view>
